# Лабораторная работа №2

Методы предсказания погоды

In [25]:
import pandas as pd
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns

In [26]:
# importing data
data = pd.read_csv('./data/seattle-weather.csv')
data

            date  precipitation  temp_max  temp_min  wind  weather
0     2012-01-01            0.0      12.8       5.0   4.7  drizzle
1     2012-01-02           10.9      10.6       2.8   4.5     rain
2     2012-01-03            0.8      11.7       7.2   2.3     rain
3     2012-01-04           20.3      12.2       5.6   4.7     rain
4     2012-01-05            1.3       8.9       2.8   6.1     rain
...          ...            ...       ...       ...   ...      ...
1456  2015-12-27            8.6       4.4       1.7   2.9     rain
1457  2015-12-28            1.5       5.0       1.7   1.3     rain
1458  2015-12-29            0.0       7.2       0.6   2.6      fog
1459  2015-12-30            0.0       5.6      -1.0   3.4      sun
1460  2015-12-31            0.0       5.6      -2.1   3.5      sun

[1461 rows x 6 columns]

# Dummy classifier. Example

In [27]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.dummy import DummyClassifier


y = data['weather']
X = data.drop(['date', 'weather'], axis=1)

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=400, shuffle=False)


dummy = DummyClassifier()
dummy.fit(X_train, y_train)
y_pred = dummy.predict(X_test)
pd.concat([pd.Series(y_pred), y_test.reset_index()['weather']], axis=1)

        0 weather
0    rain    rain
1    rain    rain
2    rain    snow
3    rain     sun
4    rain     sun
..    ...     ...
395  rain    rain
396  rain    rain
397  rain     fog
398  rain     sun
399  rain     sun

[400 rows x 2 columns]

In [28]:
print(pd.Series(y_pred).value_counts())
accuracy_score(y_test, y_pred)

rain    400
Name: count, dtype: int64

0.4025